[submodule "vim/pack/guso/start/delimitMate"]
	path = vim/pack/guso/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim/pack/guso/start/dirsettings"]
	path = vim/pack/guso/start/dirsettings
	url = https://github.com/chazy/dirsettings.git
