[submodule "pack/guso/start/delimitMate"]
	path = pack/guso/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "pack/guso/start/dirsettings"]
	path = pack/guso/start/dirsettings
	url = https://github.com/chazy/dirsettings.git
[submodule "pack/guso/start/vimwiki"]
	path = pack/guso/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
